.about-me {
    transition: all 400ms ease;
    width: 500px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -10%);
    background-color: white;
    display: flex;
    flex-direction:row-reverse;
    border-style: ridge solid;
    border-width: 6px;
    border-color: silver transparent;
 
    
}

.x-button {
    width: 50px;
    height: 40px;
    background-color: rgb(194, 191, 191);
  background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: all 300ms ease;;
}

.x-button:hover {
    width: 50px;
    height: 40px;
    background-color: rgb(241, 3, 3);
    background-size: 20px; ;
    
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateZ(180deg);
    border-radius: 50%;
}

.text-container{
  width: 100%;
  height: 100%;
  display: flex;
    flex-direction: column;;
  align-items: center;
 
    background-color: white;
    margin-left: 50px;
    margin-right: auto;
}

.my-image-container {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 50%;
  overflow: hidden;
   
}
.my-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.text-small {
  font-size: smaller;
}

.header-1 {
width: 100%;
height: 6%;
filter: brightness(1.2);
color: var(--accent-color-two);
font-size: larger;
font-weight:bold;
display: flex;
align-items: center;
justify-content: center;
}

.header-2 {
  width: 100%;
  height: 6%;
  font-size: smaller;
  font-style: italic;
  display: flex;
align-items: center;
justify-content: center;
}