
:root {
    --main-bg-color: rgb(22, 22, 22);
    --main-margins: 0px;
    --accent-color-one: #f3f3f3;
    --accent-color-two: #6d36d3;
    --accent-color-three: rgb(48, 47, 47);
    --gradient-one: linear-gradient(to right, var(--accent-color-one), var(--accent-color-two));
    --main-font: 'Roboto-mono';
    --transition:  all 400ms ease
  }
.footer-main {
    display: flex;

  width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
background-color: var(--main-bg-color);
filter: brightness(1.5);
  color: white;
  padding: 1rem;
    
   
  
     
    
    
    
}

.footer-text {
    margin: 2px;
}