
/* 
=============GENERAL==============
*/
@font-face {
  font-family: 'Roboto-Mono';
  src: local('Roboto-Mono'), url(./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf) format('truetype');
}


:root {
  --main-bg-color: rgb(22, 22, 22);
  --main-margins: 0px;
  --accent-color-one: #f3f3f3;
  --accent-color-two: #e9eaea;
  --accent-color-three: rgb(245, 248, 250);
  --gradient-one: linear-gradient(to right, var(--accent-color-one), var(--accent-color-two));
  --main-font: 'Roboto-mono';
  --transition:  all 400ms ease
}

body {
  background-color: var(--main-bg-color);
  margin: var(--main-margins);
}

/* 
=============TYPOGRAPHY==============
*/
/* default text font */
body {
  font-family: var(--main-font);

}



/* 
=============TOP==============
*/
.nav-bar {
  width: 100vw;
  height: 10vh;
  background-color: var(--main-bg-color);
  display: flex;
  align-items:flex-end;
  margin: var(--main-margins);
  filter: brightness(1.2);
  position: fixed;
  
  
}
.name-div {
  width: 10vw;
  height: 50px;
  margin-left: 10px;
  color: #a21639bc;
  
}
.social-icon-container {
  width: 90vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
 
   
}
.icon-shell {
  transition: var(--transition);
  width: 50px;
  height: 48px;
  border-radius: 50%;
  margin-right: 1.5vw;
  background-color: var(--main-bg-color);
  filter: brightness(2.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-shell:hover{
  background-color: var(--accent-color-two);
}
.icon-shell:hover > .social-icon {
  
  transform: rotateZ(360deg) rotateY(360deg)
  scale(1.1);
 
 
}
.social-icon {
  
  transition: var(--transition);
  width: 30px;
  height: 30px;
  
  background-size: contain;
  background-repeat: no-repeat;
 
 
}


/* 
=============MID==============
*/
.content-div {
  width: 100vw;
  height: 100vh;
  background-color:  var(--main-bg-color);
  margin: var(--main-margins);

}
/* ///////////intro---------- */
.intro-div {
  width: 100vw;
  height: 90vh;
 background: url("https://c.pxhere.com/photos/e8/8c/notebook_coffee_table_work_office_computer_laptop_working_space-1283308.jpg!d");
 background-repeat: no-repeat;
 background-size: cover;
display: flex;
align-items: center;
justify-content: center;
 

}
.intro-inner {
  width: 80vw;
  height: 40vh;
  background-color: var(--main-bg-color);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  
  
}


.more-about-me {
  transition: var(--transition);
  width: 12vw;
  height: 3.5vh;
  background-color: rgba(107, 106, 106, 0.274);
  text-align: center;
  border-radius: 2rem;
  user-select: none;
}
.more-about-me:hover {
  scale: 1.02;
  background-color: rgb(107, 106, 106);
}
/* ///////////projects---------- */
.projects-div {
  width: 100vw;
  height: 90vh;
 
  display: flex;
  flex-direction: column;
 
}
.project-select {
width: inherit;
height:10vh ;
background-color: var(--main-bg-color);
filter: brightness(1.5);
display: flex;
align-items: center;
justify-content: center;


}
.select-list-item {
margin: 2rem;
}
.project-pic-text {
  width: inherit;
  height:50vh ;
  display: flex;
  justify-content: center;
  
}
.project-details {
  width: 80vw;
  height: inherit;
  display: flex;
}
.project-image {
width: 40vw;
height: inherit;
background-repeat: no-repeat;
background-size: contain;
}
.project-about {
  width: 40vw;
  height: inherit;
  background-color: #d1c5c5;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}
.project-tech-link {
  width: inherit;
  height:10vh ;
  background-color: var(--main-bg-color);
 filter: brightness(1.9);
}
/* ///////////blog---------- */
.blog-div {
  width: 100vw;
  height: 50vh;
 background-color: var(--main-bg-color);
 display: flex;
 align-items: center;
 justify-content: center;
}
.blog-inner {
  width: 80vw;
  height: 40vh;
 background: linear-gradient(to right, var(--accent-color-one), var(--accent-color-two));
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}
.blog-title {
padding: 2rem;
font-size: xx-large;
}
.blog-description {
text-align: center;
}
.blog-button {
  width: 5vw;
  height: 3vh;
  background-color: #1d1d1d;
  margin: 2rem;
  align-self: center;
}
/* 
=============BOT==============
*/


/* 
=============HELPERS==============
*/
.more-info-main {
  transition: var(--transition);
  width: 500px;
  height: 600px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction:row-reverse;
  
}

.x-button {
  width: 50px;
  height: 50px;
  background-color: red;
}